# Global variables
LOCALE="en_GB.UTF-8"
HOME="/home"

# Root variables
ROOT_PASSWORD="root"

# User variables
USER_NAME="username"
USER_GROUPS="username adm sudo"
USER_PASSWORD="password"

# User gecos
FULL_NAME="Firstname Lastname"
ROOM_NUMBER="0"
WORK_PHONE="+1 0 00 00 00 00"
HOME_PHONE="+1 0 00 00 00 00"

# Postfix variables
HOSTNAME="example.com"

# UFW variables
SSH_PORT="22/tcp"
